<div class="wrapper">
<div id="banner"></div>
	<div id="comic_area" class="clearfix">
		<h1>Something About Radishes</h1>
		<div class="navigation">
			<% if @cominit %>
				<a class="nav_arrows first" data-disqus-identifier="<%= @cominit.id %>" href="/comics/<%= @cominit.id %>#comic_area">First</a> 
			<% end %> 
			<% if @comprev %> 
				<a class="nav_arrows previous" data-disqus-identifier="<%= @comprev.id %>" href="/comics/<%= @comprev.id %>#comic_area">Previous</a> 
			<% end %> 
			<% if @comnext %> 
				<a class="nav_arrows next" data-disqus-identifier="<%= @comnext.id %>" href="/comics/<%= @comnext.id %>#comic_area">Next</a> 
			<% end %>
		</div>
		<div class="comic_display_area">
			<p>
				<img alt="<%= @comics.title %>" src="<%= @comics.image %>">
			</p>
			<%= render 'bookmark' %>
		</div>
		<div class="navigation">
			<% if @cominit %>
				<a class="nav_arrows first" data-disqus-identifier="<%= @cominit.id %>" href="/comics/<%= @cominit.id %>#comic_area">First</a> 
			<% end %> 
			<% if @comprev %> 
				<a class="nav_arrows previous" data-disqus-identifier="<%= @comprev.id %>" href="/comics/<%= @comprev.id %>#comic_area">Previous</a> 
			<% end %> 
			<% if @comnext %> 
				<a class="nav_arrows next" data-disqus-identifier="<%= @comnext.id %>" href="/comics/<%= @comnext.id %>#comic_area">Next</a> 
			<% end %>
		</div>
		
		<div class="comic_info">
			<h2><%= @comics.title %></h2>
				<div class="comic_description">
					<%= @comics.body %>
				</div>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'somethingaboutradishes'; // required: replace example with your forum shortname
				var disqus_identifier = '/comics/<%= @comics.id %>';
				var disqus_developer = 1;
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
		</div>
		<div class="social_area">
			<h2>Rumors a little bird told me...</h2>
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 350,
			  height: 300,
			  theme: {
			    shell: {
			      background: '#d7d5ce',
			      color: '#666666'
			    },
			    tweets: {
			      background: '#ebebeb',
			      color: '#666666',
			      links: '#633aa1'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    hashtags: true,
			    timestamp: true,
			    avatars: false,
			    behavior: 'all'
			  }
			}).render().setUser('esteimann').start();
			</script>
		</div>
	</div>
</div>