<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @comic.title %>
</p>

<p>
  <b>Body:</b>
  <%= @comic.body %>
</p>

<p>
  <b>Post date:</b>
  <%= @comic.post_date.to_date %>
</p>
<p>
	Images!!!! YAY!<br/>
	<img src="<%= @comic.image %>"/>
</p>

<% if @comfirst %>
<a href="/comics/<%= @comfirst.id %>">First</a>
<% end %>
<% if @comprev %>
<a href="/comics/<%= @comprev.id %>">Previous</a>
<% end %>
<%= @comic.title %>
<% if @comnext %>
<a href="/comics/<%= @comnext.id %>">Next</a>
<% end %>
<% if @comfinal %>
<a href="/comics/<%= @comfinal.id %>">Last</a>
<% end %>
<br/>
<%= Time.now%>
<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
