<!DOCTYPE html>
<html>
<head>
  <title>Something About Radishes</title>
	<meta content='text/html; charset=utf-8' http-equiv='content-type' />
	<meta name="title" content="Something About Radishes"/>
  	<meta name="type" content="website"/>
  	<meta name="url" content="http://somethingaboutradishes.com/"/>
  	<meta name="image" content="http://s3.amazonaws.com/SAR_comic/asset_20.jpg"/>
  	<meta name="site_name" content="Something About Radishes"/>
  	<meta name="description" content="Something About Radishes is a Web Comic by Emma Steimann, updated...infrequently..."/>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "scaffolds","comics", "reset" %>
	<% if Time.now.hour < 6 or Time.now.hour >= 18 %>
	<%= stylesheet_link_tag "night" %>
	<% else %>
	<%= stylesheet_link_tag "day" %>
	<% end %>
  <%= javascript_include_tag "application" %>
	
  
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=193813637371619";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<%= yield %>

</body>
</html>
