<!DOCTYPE html>
<html>
<head>
  <title>Something About Radishes</title>
	<link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "scaffolds","comics", "reset" %>
	<% if Time.now.hour < 6 or Time.now.hour >= 18 %>
	<%= stylesheet_link_tag "night" %>
	<% else %>
	<%= stylesheet_link_tag "day" %>
	<% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
